<?xml version='1.0' encoding='utf-8'?>
<widget id="de.checkzz.immofinder" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <icon src="img/icon.png" />
    <name>ImmoFinder</name>
    <description>
        Immobilien aus ganz Deutschland in einer App
    </description>
    <author email="ahmetguerer@googlemail.com" href="http://www.checkzz.de">
        Ahmet Guerer
    </author>

	<preference name="loglevel" value="DEBUG" />
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    </feature>
    <feature name="Battery">
        <param name="android-package" value="org.apache.cordova.batterystatus.BatteryListener" />
    </feature>
    <feature name="Globalization">
        <param name="android-package" value="org.apache.cordova.globalization.Globalization" />
    </feature>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>
    <content src="index.html" />
    <access origin="*" />
</widget>
