body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px !important;
}

input.btn {
    font-weight: bold;
}

.menu-navbar {
	background-color: #008131;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0;
    z-index: 50;
    box-shadow: 0 0 5px #000;
    border-bottom: 1px solid black;
}

.menu-navbar a {
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	width: 80px;
	text-align: left;
	border-right: 1px solid #000;
	text-decoration: none;
    margin-right: 10px;
    text-shadow: 0px 2px 2px #000000;
    filter: dropshadow(color=#000000, offx= 0, offy=2);
}

.menu-title {
    padding: 17px 10px 10px 10px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px #000000;
    filter: dropshadow(color=#000000, offx= 0, offy=2);
}

.menu-panel {
	position: fixed;
	height: 100%;
	top: 51px;
	background-color: #212121;
	border-right: 1px solid #000;
    display: none;
	z-index: 50;
    margin:0;
    box-shadow: 0 0 5px #888;
    padding: 0;
}

.menu-panel ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-panel ul li {
	border-bottom: 1px solid #000;
}

.menu-panel ul li.active > a{
	color: #72DB67;
    text-shadow: 0px 2px 2px #000;
}

.menu-panel ul li a {
	padding: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
    text-shadow: 0px 2px 2px #000;
	font-weight: bold;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #212121;
}

.marginright10 {
	margin-right: 10px;
}

.margintop53 {
	margin-top: 53px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.marginbottom30 {
    margin-bottom: 30px;
}

.tab-content {
	padding-left: 10px;
}

#loading {

    text-align: center;
    margin-top: 150px;

}

div.ui-loader {
    display: none;
}

.tab-content {
    padding-left: 0px;
}

.immo-list {
    border-bottom: 1px solid #ddd;
}

.image-cropper {
    position: relative;
    width: 130px;
    height: 115px;
    overflow: hidden;
    border-right: 1px solid #000;
}

.own-control {
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.input-group-addon {
    background-color: white;
    font-weight: bold !important;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-top: none;
    color: #666 !important;
    font-size: 18px;
}

.immo-list {
    position: relative;
    box-shadow: 0 0 5px #000;
}


.immo-features {
    position: absolute;
    background-color: #fff;
    opacity: .9;
    bottom: 0;
    z-index: 10;
    padding: 5px;
    color: #000;
    min-height: 70px;
    font-family: 'Open Sans Condensed', sans-serif;
    border-bottom: 1px solid black;
}

.loader {
    display: none;
    position: fixed;
    width: 100%;
    background-color: #fff;
    bottom: 0px;
    padding: 10px;
    border-top: 1px solid black;
    box-shadow: 0 0 5px #888;
    z-index: 99;
}